.container{
  align-items: center;
  justify-content: space-between;
  border: 2px solid;
  width: 160px;
  padding: 10;
  margin: 0 0 auto;
}

month{
  width: 100%;
}

span {
  width: 50px;
  height: 50px;
  padding: 5;
}

p {
  font-size: 10px;
}
