.container{
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  width: 160px;
  padding: 4;
  margin: 0 0 auto;
}

month{
  width: 100%;
}

span {
  width: 50px;
  height: 50px;
  padding: 3;
}

p {
  font-size: 12px;
}
